.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./myPhoto.jpg');
  min-height: 100%;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap:10px 40px;
}
.link {
  padding: 10px 16px;
  background-color: #75757E;
  width: 250px;
  cursor: pointer;
  display: block;
  color: white;
  text-decoration: none;
}
.link:nth-child(2n) {
  margin-left: auto;
}
.myList {
  padding: 0;
}
.myList li {
  list-style: none;
}

.title {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap; 
  margin: 0 auto;
  letter-spacing: .15em;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: 
    typing 3.5s 1s steps(40, end) infinite,
    blink-caret .75s step-end infinite,
    textclip 2s linear infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}